header {
  font-family: "Fjalla One", sans-serif;
  position: fixed;
  color: #fbbc04;
  font-size: 46px;
  background-color: transparent;
  left: 3%;
  top: 0;
  right: 0;
  z-index: 1030;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/image/orangesky.jpg');

}
.container {
  margin: 0 auto;
}

.wa-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  padding: 15px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.col-5 {
text-align:right;
    }
h1 {
  color: #fbbc04;
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: left;
  line-height: 28px;
  margin-bottom: 10px;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-color: #ff8264;
  background-color: #ff8264;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.overview {
  margin-bottom: 20px;
  text-align: justify;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 350;
  line-height: 1;
  
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.forecast {
  margin-top: 18px;
  text-align: center;
  font-size: 20px;
  cursor: default;
  padding: 20px 0auto;
  margin-left: 45px;
}
.week-day {
  font-size: 24px;
  color: #c51350;
}
.forecast-temp {
  font-size: 18px;
}
.forecast-temp-min {
  color: dimgrey;
}
a {
  text-decoration: none;
}
